name: Auto Approve
on: pull_request

permissions:
  pull-requests: write

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.actor == 'dependabot[bot]'
    timeout-minutes: 1

    steps:
      - name: Approve PR
        run: gh pr review --approve ${{ github.event.pull_request.html_url }}
        env:
          GH_TOKEN: ${{ github.token }} # or `GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}`

      # https://github.com/hmarr/auto-approve-action
      - name: Auto Approve
        uses: hmarr/auto-approve-action@v4
        with:
          github-token: ${{ github.token }}
